<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CSC - Stranded Alone</title>
    <link rel="stylesheet" href="./styles/stylesheet.css">
    <link rel="stylesheet" href="./styles/customButtonStyle.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@latest/dist/vue.min.js"></script>
    <script src="./src/components/CustomButton.js"></script>

    <div id="app">
        <div v-if="currentLevel == '0'">
            <div class="fade-in interaction">
                <div class="interactionTitel">
                    <div>Stranded</div>
                    <div id="aloneTextEffects" :style="`margin-left: 30px;opacity:${aloneTextOpacity}%;`">{{aloneText}}</div>
                </div>
                <div class="interactionDescription">Survive through the darkness in a forest of unknown entities</div>

                <div class="interactionButton" v-on:click="startGame()">
                    <custom-buttom :title="'Start Game'"></custom-buttom>
                </div>
            </div>

            <div class="background_img"></div>
            <div class="creepyFigure"></div>
            <div class="authorText">by Sebastian Tatar | BCC21</div>
        </div>

        <div class="fade-in intermission fade-out" v-else-if="currentLevel == 'intermission'">
            <div class="intermissionText" id="intermissionText">
            </div>

            <div v-on:click="setLevel('A1')">
                <custom-buttom :title="'Continue'"></custom-buttom>
            </div>
        </div>


        <div v-else-if="currentLevel.startsWith('X')">
            <div class="endPage">
                <div class="intermissionText fade-in-fast">
                    {{currentLevelData.text}}
                </div>

                <div class="endButtons fade-in-fast">
                    <div class="buttonFix" v-on:click="setLevel('A1')">
                        <custom-buttom :title="'Restart game'"></custom-buttom>
                    </div>
                    <div class="buttonFix" v-on:click="setLevel('0')">
                        <custom-buttom :title="'Back to main menu'"></custom-buttom>
                    </div>
                </div>
                <img :src="`img/wrongchoice${rnd()}.jpg`" class="imgFullScreen endImg">

            </div>
        </div>

        <div v-else-if="currentLevel == 'success'">
            <div class="success">
                <h2 class="fade-in">You made it!</h2>

                <div class="successEndButtons delayed">
                    <div class="buttonFix2" v-on:click="setLevel('A1')">
                        <custom-buttom :title="'Restart game'"></custom-buttom>
                    </div>
                    <div class="buttonFix2" v-on:click="setLevel('0')">
                        <custom-buttom :title="'Back to main menu'"></custom-buttom>
                    </div>
                </div>

                <img src="img/end.jpg" class="imgFullScreen fade-in">
            </div>
        </div>


        <div v-else>
            <div class="fade-in fade-out levels">
                <div class="levelText">{{currentLevelData.text}}</div>

                <div v-if="currentLevelData.type == 'singleChoice'">
                    <div v-for="choice in currentLevelData.choices">
                        <div class="buttonFix" v-on:click="setLevel(choice.leadsTo)">
                            <custom-buttom :title="choice.text"></custom-buttom>
                        </div>
                    </div>
                </div>

                <div v-else-if="currentLevelData.type == 'multipleChoice'">
                    <div v-for="choice in currentLevelData.choices">
                        <div class="multipleChoice" v-on:click="choice.state = !choice.state">
                            <div class="checkBox">
                                <div>{{(choice.state?'X':' ')}}</div>
                            </div>
                            <div class="checkBoxText">{{choice.text}}</div>
                        </div>
                    </div>
                    <div class="buttonFix" v-on:click="evaluateMultipleChoice(currentLevelData.choices,currentLevelData.leadsTo)">
                        <custom-buttom :title="'Next'"></custom-buttom>
                    </div>
                </div>
                <img :src="currentLevelData.imgSrc" class="imgFullScreen">
            </div>

        </div>
        <span class="audioButton material-icons md-36" v-on:click="volumeState = !volumeState">{{(volumeState)?'volume_up':'volume_off'}}</span>
    </div>

    <script defer src="./src/script.js"></script>

</body>

</html>