.customLink {
    z-index: 1;
    color: white;
    cursor: pointer;
    user-select: none;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.50);
    transition: 0.3s;
}

.customLinkText {
    font-size: 30px;
    pointer-events: none;
    margin-bottom: -4px;
    transition: 0.3s;
}

.customLink:hover {
    background-color: white;
    box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.15);
    opacity: 1;
    transition: 0.3s;
}

.customLink:active .customLinkBackground {
    background-color: grey;
    transition: 0.3s;
}

.customLink:hover {
    color: black;
    transition: 0.3s;
}