    body {
        background-color: rgb(40, 40, 40);
        color: beige;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-family: "textfont";
        margin: 0px;
    }
    
    @font-face {
        font-family: "titlefont";
        src: url("../fonts/titlefont.ttf")
    }
    
    @font-face {
        font-family: "textfont";
        src: url("../fonts/textfont.ttf")
    }
    
    .audioButton {
        position: fixed;
        right: 1vw;
        top: 0px;
        background-color: rgba(0, 0, 0, 0.5);
        padding-top: 1px;
        width: 36px;
        height: 36px;
        border-radius: 36px;
        cursor: pointer;
        user-select: none;
    }
    
    .material-icons.md-36 {
        font-size: 36px;
    }
    
    .interaction {
        margin: 30px;
        position: absolute;
        z-index: 1;
    }
    
    .interactionTitel {
        font-family: "titlefont";
        position: relative;
        font-size: 100px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    .interactionDescription {
        font-size: 25px;
        margin-bottom: 15px;
    }
    
    .interactionButton {
        position: inherit;
        font-family: 'textfont';
    }
    
    .background_img {
        position: absolute;
        height: 100vh;
        width: 100vw;
        margin-top: -3px;
        background-image: url("../img/road_forest.jpg");
        object-fit: contain;
    }
    
    .authorText {
        position: absolute;
        bottom: 0px;
        right: 0px;
        margin: 5px;
        font-size: 15px;
    }
    
    .creepyFigure {
        position: absolute;
        background-image: url("../img/Project-removebg-preview.png");
        color: red;
        height: 250px;
        width: 95px;
        opacity: 0.5;
        z-index: 1;
        object-fit: fit;
        visibility: hidden;
    }
    
    .fade-in {
        animation: fadeIn 3s;
        -webkit-animation: fadeIn 3s;
        -moz-animation: fadeIn 3s;
        -o-animation: fadeIn 3s;
        -ms-animation: fadeIn 3s;
    }
    
    .fade-in-fast {
        animation: fadeIn 1s;
    }
    
    .fade-out {
        animation: fadeIn 3s;
        -webkit-animation: fadeIn 3s;
        -moz-animation: fadeIn 3s;
        -o-animation: fadeIn 3s;
        -ms-animation: fadeIn 3s;
    }
    
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    @keyframes fadeInOpacity {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 0.2;
        }
    }
    
    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    
    @-moz-keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    .intermission {
        height: 100vh;
        width: 100vw;
        font-size: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: black;
    }
    
    .endPage {
        height: 100vh;
        width: 100vw;
        font-size: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .endImg {
        animation: fadeInOpacity 2s;
        opacity: 0.2;
    }
    
    .imgFullScreen {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    .levels {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 100px;
    }
    
    .levelText {
        margin-top: 15px;
        font-size: 35px;
        width: 60vw;
        text-align: center;
    }
    
    .buttonFix {
        position: inherit;
        margin: 20px;
        border-style: solid;
        border-width: 2px;
        border-color: antiquewhite;
        text-align: center;
    }
    
    .buttonFix2 {
        position: inherit;
        margin: 10px;
        border-style: solid;
        border-width: 2px;
        border-color: antiquewhite;
        text-align: center;
    }
    
    .intermissionText {
        text-align: center;
        font-size: 35px;
        width: 60vw;
        margin-bottom: 30px;
    }
    
    .endButtons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .multipleChoice {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: white;
    }
    
    .checkBox {
        background-color: aliceblue;
        color: black;
        width: 40px;
        height: 40px;
        font-size: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        user-select: none;
        transition: 0.3s;
    }
    
    .checkBox:hover {
        background-color: wheat;
        transition: 0.3s;
    }
    
    .checkBoxText {
        font-size: 35px;
        margin-left: 15px;
        cursor: pointer;
        user-select: none;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .success {
        height: 100vh;
        width: 100vw;
        font-size: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .successEndButtons {
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-direction: column;
        text-align: center;
    }
    
    .delayed {
        animation: fadeIn 1s;
        animation-delay: 2s;
        animation-fill-mode: forwards;
    }
    
    .intermissionImg {
        opacity: 0;
    }
    
    .lateDelay {
        animation: fadeIn 1s;
        animation-delay: 5s;
        animation-fill-mode: forwards;
    }